@charset "utf-8";
/* CSS Document */
#login_table{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#login_option{
    text-align: center;
}
h1{
    text-align: center;
    font-size:30px;
    margin-top: 50px;
    letter-spacing: 2px;
}
img{
    margin-bottom: -15px;
    margin-left: -10px;
    margin-right:-5px;
}
#username,#password{
    width:380px;
    height: 30px;
    font-size: 14px;
    border-bottom:#666666 1px solid;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    box-shadow: 0 1px 0 0 #e5e4e1;
    margin-top: 5px;
}
#input_and_img{
    margin-left: -10px;
}
#login_submit, #register{
    margin: 10px 0;
    display: inline-block;
    background: #00e898;
    box-shadow: 0 0 5px 0 rgba(0, 232, 152, 0.45);
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    outline: none;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
#username::placeholder,#password::placeholder{
    color: #7b7a79;
}
#username:focus,#password:focus{
    border-bottom:#3563ff 1px solid;
}
#login_submit{
    margin-top:20px;
}
#register
{
    background: #5e85e8;
    box-shadow: 0 0 5px 0 #87b3ff;
}
#login_submit:hover,#register:hover{
    opacity:0.8;
}
p{
    font-size: 13px;
    color: red;
}
