@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: "LTCXHJT";
    src:url("/fonts/FZLTCXHJW.TTF");
}
@font-face {
    font-family: "LTHJT";
    src:url("/fonts/FZLTHPro_GB18030.otf");
}
.navigation /*导航栏*/{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:70px;
    width:100%;
    background: rgb(50, 50, 50);
}
#main_title{
    font-size: 28px;
    letter-spacing: 3px;
    color: rgba(197, 197, 197, 0.82);
    margin-left:15px ;
    margin-top: 16px;
}
.nav {
    list-style-type: none;
    margin-top: -48px;
}
.navigation li {
    float:right;
    margin-right:2%;  /*两个li之间的距离*/
}
#log_out, #account,#to_material,#to_additive,#to_pack{
    color: #c1cbc8;
    font-size: 16px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    -moz-transition: 0.3s all;
}
#log_out:hover,#to_material:hover,#to_additive:hover,#to_pack:hover{
    color: #ffffff;
}
#account_img{
    margin-top: -3px;
    margin-right: -20px;
}
#to_pack{
    margin-right: 500px;
}
#to_additive,#to_material{
    margin-right: 20px;
}
#pk_head{
    position: relative;
    top:20px;
}
#subtitle{
    position: relative;
    font-size: 28px;
    font-family: LTHJT;
    color: #ffd500;
    height: 45px;
    line-height: 45px;
    text-align: center;
    top: 30px;
}
#subtitle:before {
    content: "";
    position: absolute;
    width: 250px;
    height: 1px;
    top: 50%;
    background-color: #ffd500;
    left: 25%;
}
#subtitle:after {
    content: "";
    position: absolute;
    width: 250px;
    height: 1px;
    top: 50%;
    background-color: #ffd500;
    right: 25%;
}
#pk_head p{
    position: relative;
    top:20px;
    text-align: center;
    font-family: LTCXHJT;
    font-size: 18px;
    color: #9e9d9a;
}
#pack_operation{
    text-align: center;
    margin: auto;
    margin-top: 80px;
    clear:both;
}
#add_pk_div,#delete_pk_div,#update_pk_div,#query_pk_div,#show_pk_div{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin:10px;
    padding: 20px;
    /*background: rgba(209, 238, 255, 0.27);*/
    background-color: transparent;
    vertical-align: bottom;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    -moz-transition: 0.3s all;
}
#add_pk_div:hover,#delete_pk_div:hover,#update_pk_div:hover,#query_pk_div:hover,#show_pk_div:hover{
    width: 230px;
    /*box-shadow: 2px 2px 6px #9cb0ea;*/
    background: rgba(255, 243, 188, 0.2);
}
.item{
    width: 50px;
    height: 50px;
    margin-bottom: -2px;
}
h4{
    font-size: 18px;
    color: #d2a139;
    margin-top: 8px;
    letter-spacing: 1px;
    font-family: LTHJT;
    font-weight: 100;
}
h5{
    font-size: 14px;
    font-family: LTHJT;
    color: #898989;
    letter-spacing: 2px;
    margin-top: -20px;
    margin-bottom: 2px;
    font-weight: 100;
}
input[type="text"],select{
    width:150px;
    height: 30px;
    text-align: center;
    margin: auto;
    font-size: 14px;
    border-bottom:#666666 1px solid;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    box-shadow: 0 1px 0 0 #e5e4e1;
    margin-top: 1px;
    background-color: transparent;
}
input[type="text"]:focus,select:focus{
    border-bottom: #ffe500 1px solid;
}
#select_pk_qualified{
    margin-top: 6px;
}
#select_pk_index, #select_pk_index2{
    margin-top: 20px;
}
#update_pk_id{
    margin-top: 17px;
}
select{
    appearance: none; /*去掉默认图标*/
    -moz-appearance: none;
    -webkit-appearance: none;
}
#pk_add_submit,#pk_delete_submit,#pk_update_query,#pk_update_submit,#pk_query_submit,#pk_showall_submit{
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-family: LTHJT;
    border-radius: 3px;
    margin: auto;
    margin-top: 20px;
    /* outline: none;*/
    /*border: none;*/
    color: #d2a139;
    background-color: transparent;
    border: 1px solid #d2a139;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
#pk_add_submit:hover,#pk_delete_submit:hover,#pk_update_query:hover,#pk_update_submit:hover,#pk_query_submit:hover,#pk_showall_submit:hover{
    opacity:0.8;
    cursor: pointer;
}
#show_pack {
    position: relative;
    top:20px;
    width: 1000px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    border-collapse:collapse;
    margin-top:10px;
    margin-bottom: 50px;
}
#show_pack th{
    font-family: LTHJT;
    font-weight: 100;
    font-size: 16px;
}
#show_pack td{
    font-size: 15px;
}
#show_pack td,th {
    border: none;
    /*border:1px solid #536ED0;*/
    padding:6px 7px 6px 7px;
    text-align: center;
}
#show_pack tr.even td,#show_pack tr th {
    background-color: #fffbe6;
}
#show_pack tr th,#table_id{
    color:#d2a139;
}