@charset "utf-8";
/* CSS Document */
#register_table{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#register_option{
    text-align: center;
}
h1{
    text-align: center;
    font-size:30px;
    margin-top: 25px;
    letter-spacing: 2px;
}
#re_username,#re_password,#re_password2,#select_identity{
    width:380px;
    height: 30px;
    font-size: 14px;
    border-bottom:#666666 1px solid;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    box-shadow: 0 1px 0 0 #e5e4e1;
    margin-top: 5px;
    text-align: center;
}
#re_username::placeholder,#re_password::placeholder,#re_password2::placeholder{
    color: #7b7a79;
}
#select_identity{
    margin-top: 7px;
    appearance: none; /*去掉默认图标*/
    -moz-appearance: none;
    -webkit-appearance: none;
}
#register_submit, #back_login{
    margin: 10px 0;
    display: inline-block;
    background: #5e85e8;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    outline: none;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    box-shadow: 0 0 5px 0 #87b3ff;
}
#register_submit{
    margin-top:20px;
}
#register_submit:hover,#back_login:hover{
    opacity:0.8;
}
p{
    font-size: 13px;
    color: red;
    margin: 10px 0 -5px;
}
