<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加剂质量登记</title>
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="css/additivecss.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/additive_register.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
</head>
<body>
<div id="additive_contents">
    <div class="navigation">
        <h1 id="main_title">食品质量管理系统</h1>
        <ul class="nav">
            <li><a id="log_out" href="javascript:void(0);" onclick="log_out();">退出登录</a></li>
            <li><a id="idid" th:text="${session.tid}" style="display: none"></a></li>
            <li><a id="account" th:text="${session.tname}"></a></li>
            <li><img id="account_img" src="images/account.png" alt="account_img" width="30" height="30"></li>
            <li><a id="to_pack" href="pack_register">包装质量登记</a></li>
            <li><a id="to_additive" href="additive_register">添加剂质量登记</a></li>
            <li><a id="to_material" href="material_register">原料质量登记</a></li>
        </ul>
    </div>
    <br/>
    <div id="additive_body">
        <div id="ad_head">
            <h2 id="subtitle">添加剂质量登记</h2>
            <p>该面板用于登记添加剂质量，包括添加剂名、添加剂最大使用量、是否达标、登记员工以及登记时间等信息</p>
        </div>
        <div id="additive_operation">
            <div id="add_ad_div">
                <img class="item" src="images/add2.png" alt="additive_img">
                <h4>增加质量记录</h4>
                <div id="add_ad">
                    <h5>请填写增加记录的信息</h5>
                    <input id="add_ad_name" type="text" name="type_ad_name" placeholder="请输入添加剂名称"/>
                    <input id="add_ad_check" type="text" name="type_ad_check"
                           placeholder="请输入检查结果"/>
                    <select id="select_ad_qualified" name="select_ad_qualified">
                        <option value="">请选择是否达标</option>
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                    <br/>
                    <input id="ad_add_submit" type="button" name="ad_add_submit" value="增加记录" onclick="add_tips()"/>
                </div>
            </div>

            <div id="delete_ad_div">
                <img class="item" src="images/delete2.png" alt="additive_img">
                <h4>删除质量记录</h4>
                <div id="delete_ad">
                    <h5>请选择需要删除记录的索引</h5>
                    <select name="select_ad_index" id="select_ad_index" onchange="select_ad();">
                        <option selected="selected" value="">请选择</option>
                        <option value="ad_id">序号</option>
                        <option value="ad_name">添加剂名称</option>
                        <option value="ad_staff">登记人</option>
                    </select>
                    <input type="text" name="ad_delete1" id="ad_delete1" style="display:none;"
                           placeholder="请输入序号"/>
                    <input type="text" name="ad_delete2" id="ad_delete2" style="display:none;"
                           placeholder="请输入添加剂名称"/>
                    <input type="text" name="ad_delete3" id="ad_delete3" style="display:none;"
                           placeholder="请输入登记人"/>
                </div>
                <input id="ad_delete_submit" type="button" name="ad_delete_submit" value="删除记录" onclick="delete_tips();"/>
            </div>

            <div id="update_ad_div">
                <img class="item" src="images/update2.png" alt="additive_img">
                <h4>修改质量记录</h4>
                <div id="update_ad">
                    <h5 id="please_input">请输入需要修改记录的序号</h5>
                    <input type="text" name="update_ad_id" id="update_ad_id" placeholder="请输入序号"/>
                    <input id="ad_update_query" type="button" name="ad_update_query" value="查询"
                           onclick="check_tips();"/>
                    <div id="update_contents">
                        <h5 id="update_show_id" style="display: none"></h5>
                        <input type="text" name="get_ad_id" id="get_ad_id" style="display: none"
                               placeholder="添加剂序号"/>
                        <input type="text" name="update_ad_name" id="update_ad_name"
                               style="display: none"
                               placeholder="添加剂名称"/>
                        <input type="text" name="update_ad_check" id="update_ad_check"
                               style="display: none"
                               placeholder="最大使用量"/>
                        <input type="text" name="update_ad_qualified"
                               id="update_ad_qualified"
                               style="display: none"
                               placeholder="是否达标"/>
                        <input type="text" name="update_ad_staff" id="update_ad_staff"
                               style="display: none"
                               placeholder="登记员工"/>
                    </div>
                </div>
                <input id="ad_update_submit" type="button" name="ad_update_submit" value="修改记录" style="display: none"
                       onclick="update_tips();"/>
            </div>

            <div id="query_ad_div">
                <img class="item" src="images/query2.png" alt="additive_img">
                <h4>查询质量记录</h4>
                <div id="query_ad">
                    <h5>请选择需要查询记录的索引</h5>
                    <select name="select_ad_index2" id="select_ad_index2" onchange="select_ad2();">
                        <option selected="selected" value="">请选择</option>
                        <option value="ad_id2">序号</option>
                        <option value="ad_name2">添加剂名称</option>
                        <option value="ad_qualified2">是否达标</option>
                        <option value="ad_staff2">登记人</option>
                    </select>
                    <input type="text" name="ad_query1" id="ad_query1" style="display:none;"
                           placeholder="请输入序号"/>
                    <input type="text" name="ad_query2" id="ad_query2" style="display:none;"
                           placeholder="请输入添加剂名称"/>
                    <select id="ad_query3" name="ad_query3" style="display: none">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                    <input type="text" name="ad_query4" id="ad_query4" style="display:none;"
                           placeholder="请输入登记人"/>
                </div>
                <input id="ad_query_submit" type="button" name="ad_query_submit" value="查询记录" onclick="query_tips();"/>
            </div>

            <div id="show_ad_div">
                <img class="item" src="images/showall2.png" alt="additive_img">
                <h4>显示/刷新质量记录</h4>
                <h5>显示所有添加剂质量记录</h5>
                <form name="additive_showall_form" action="/ad_showall" method="post">
                    <input id="ad_showall_submit" type="submit" name="ad_showall_submit" value="显示全部记录(刷新)"/>
                </form>
            </div>
        </div>
        <div id="additive_table">
            <table id="show_additive" align="center">
                <tr>
                    <th>序号</th>
                    <th>添加剂名称</th>
                    <th>最大使用量</th>
                    <th>是否达标</th>
                    <th>登记人</th>
                    <th>登记时间</th>
                </tr>
                <tr th:each="all_additive1,all_additive1Stat:${session.all_additive}" th:class="${all_additive1Stat.even}?'even'">
                    <td id="table_id" th:text="${all_additive1.ad_id}"></td>
                    <td th:text="${all_additive1.ad_name}"></td>
                    <td th:text="${all_additive1.ad_check}"></td>
                    <td th:text="${all_additive1.ad_qualified}"></td>
                    <td th:text="${all_additive1.ad_staff}"></td>
                    <td th:text="${all_additive1.datetime}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
